---
import { aboutSection } from "@/config/site";
---

<div class="container relative z-10 mx-auto px-4 py-16">
  <h2
    class="hero-heading-text mb-6 text-5xl font-bold text-[#0A1F44] md:text-6xl"
  >
    {aboutSection.title}
  </h2>
  <div class="max-w-3xl space-y-6 text-lg text-[#485B7C]">
    <p>
      {aboutSection.description1}
    </p>
    <p>
      {aboutSection.description2}
    </p>
  </div>
</div>

<script></script>
