---
import Countdown from "@/components/animations/about/Countdown.astro";
import Prose from "@/components/common/Prose.astro";
import SectionHeading from "@/components/utilities/SectionHeading.astro";
import { aboutSection } from "@/config/site";
---

<div
  class="container relative z-10 mx-auto px-4"
  role="region"
  aria-labelledby="about-heading"
>
  <SectionHeading id="about-heading" className="about-heading-text opacity-0">
    {aboutSection.title}
  </SectionHeading>

  <div class="max-w-3xl space-y-6">
    {
      aboutSection.descriptions.length > 0 ? (
        aboutSection.descriptions.map((description, index) => (
          <Prose
            id={`about-paragraph-${index}`}
            className="about-paragraph max-md:text-lg opacity-0"
            set:html={description}
          />
        ))
      ) : (
        <p>No description available.</p>
      )
    }
  </div>
  <Countdown />
</div>
