<button
  id="dropdownToggle"
  class="relative flex h-8 w-8 items-center justify-center focus:outline-none sm:hidden"
>
  <div
    class="menu-line absolute top-1/3 h-[3px] w-6 rounded-full bg-black transition duration-500 ease-in-out"
  >
  </div>
  <div
    class="menu-line absolute top-2/3 h-[3px] w-6 rounded-full bg-black transition duration-500 ease-in-out"
  >
  </div>
</button>
