---
import { socialLinks } from "@/config/links";
import { Image } from "astro:assets";
---

<ul
  class="socialContainer flex items-center justify-center gap-6 rounded-xl border border-white bg-white/25 px-4 py-4 backdrop-blur-md"
>
  {
    socialLinks.map((link) => (
      <li class="shrink-0">
        <a href={link.href} target="_blank" rel="noopener noreferrer">
          <Image
            src={link.icon}
            alt={link.label || link.href}
            width={32}
            height={32}
            class="socialLink size-6"
          />
        </a>
      </li>
    ))
  }
</ul>
