---
import { navLinks } from "@/config/links";
---

<ul class="">
  {
    navLinks.map((link) => (
      <li class="group relative font-bold">
        <a href={link.href} class="xl:text-lg">
          {link.label}
        </a>
        <span class="absolute inset-x-0 bottom-0 h-0.5 scale-x-0 rounded-full bg-black transition-transform duration-200 group-hover:scale-x-100" />
      </li>
    ))
  }
</ul>
