---
import { navLinks } from "@/config/links";
---

<ul class="flex flex-col gap-y-2.5 pb-4 pt-2 text-center">
  {
    navLinks.map((link) => (
      <li class="navlink rounded-lg bg-white/30 pb-1.5 pt-2 text-lg font-semibold">
        <button onclick={`window.handleScrollToSection('${link.href}')`}>
          {link.label}
        </button>
      </li>
    ))
  }
</ul>

<script>
  // Make the function globally accessible
  window.handleScrollToSection = function (section) {
    const element = document.getElementById(section);
    if (element) {
      element.scrollIntoView({ behavior: "smooth" });
    }
  };
</script>
