---
import { navLinks } from "@/config/links";
---

<ul class="flex items-center gap-8 max-sm:hidden">
  {
    navLinks.map((link) => (
      <li class="group relative font-bold">
        <button
          onclick={`window.handleScrollToSection('${link.href}')`}
          class="xl:text-lg"
        >
          {link.label}
        </button>
        <span class="absolute inset-x-0 bottom-0 h-0.5 scale-x-0 rounded-full bg-black transition-transform duration-200 group-hover:scale-x-100" />
      </li>
    ))
  }
</ul>

<script>
  // Globally accessible function
  window.handleScrollToSection = function (section) {
    const element = document.getElementById(section);
    if (element) {
      element.scrollIntoView({ behavior: "smooth" });
    }
  };
</script>
