---
interface Props {
  teamName: string;
  isCompartment1Visible: boolean;
}

const { teamName, isCompartment1Visible } = Astro.props;
---

<div
  class="flag-container absolute"
  style={`top: ${isCompartment1Visible ? -400 : -300}px; right: ${isCompartment1Visible ? 75 : 50}px;`}
>
  <div
    class="flag-wrapper absolute -left-[0px] top-2 flex h-[60px] items-center justify-center overflow-hidden"
  >
    <div class="flag relative h-[75px] bg-white shadow-md">
      <div
        class="flag-left-bar absolute left-0 top-0 h-full w-[20px] bg-red-600"
      >
      </div>
      <div
        class="flag-right-bar absolute right-0 top-0 h-full w-[20px] bg-red-600"
      >
      </div>
      <div
        class="flag-center flex h-full items-center justify-center px-[20px]"
      >
        <span
          class="team-name whitespace-nowrap px-2 text-center text-sm font-bold text-red-600"
        >
          {teamName}
        </span>
      </div>
    </div>
  </div>
  <div
    class="flagpole h-[100px] w-2 rounded-t-full bg-gradient-to-b from-amber-700 to-amber-900"
  >
  </div>
</div>
