---
import Spline from "@splinetool/react-spline";
---

<div
  class="pointer-events-none absolute -bottom-20 left-0 z-0 h-full w-full select-none"
>
  <Spline
    scene="https://prod.spline.design/qOP5BElA-r5bTTZm/scene.splinecode"
    client:visible={{ rootMargin: "500px" }}
    className="pointer-events-auto"
  />
  <div
    class="absolute bottom-[18px] right-[17px] h-[40px] w-[146px] rounded-full bg-[#fce6a9]"
  >
  </div>
</div>
