---
// SponsorText.astro
import { Button } from "@/components/ui/button";
import { sponsorConfig } from "@/config/sponsorConfig";
---

<div
  class="sponsor-text absolute left-1/2 top-[calc(100%+115px+5rem)] z-10 flex h-32 w-fit -translate-x-1/2 scale-[0.85] flex-col items-center justify-center gap-5 opacity-0 md:top-[calc(100%+160px+5rem)]"
>
  <span class="heading-font text-nowrap text-3xl text-[#ffffff] md:text-6xl">
    {sponsorConfig.sponsorText.text}
  </span>
  <Button
    className={sponsorConfig.sponsorText.buttonClassName}
    id="sponsorButton">{sponsorConfig.sponsorText.buttonText}</Button
  >
</div>
