---
import { Image } from "astro:assets";
import { sponsorConfig } from "@/config/sponsorConfig";
---

<div class="relative mt-20 flex w-full justify-center">
  <div
    class="jar-container relative flex h-fit w-full max-w-4xl justify-between"
  >
    <div
      class="jar-left relative z-0 h-28 w-28 origin-center -rotate-[135deg] md:h-40 md:w-40"
    >
      <div
        class="absolute -bottom-44 -right-8 -z-10 h-[200px] w-[60px] rounded-tr-full"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 43.5 250"
          class="jar-drip h-[150px] w-[45px] origin-top scale-y-0 md:h-[200px]"
          version="1.1"
          aria-hidden="true"
        >
          <path
            d="M0 6.3s11.4 108.4 8 236.4c0 .3.3.6.5.7 1.6.7 5-3 5.8-3.2 3-1.2 1.3 6 3.6 6.5s3.4-1.3 5.7-1.3c2.3 0 3.3 4.8 5.6 4.6 3.2-.3 2.3-8.2 4.5-11 1.6-2.2 4 4.6 6 3 .2 0 .4-.8.4-.8C56.4 93 9.5 0 9.5 0"
            fill="#fb923c"></path>
        </svg>
      </div>
      <Image
        src="/sponsors/design/jarleft.svg"
        alt="Left side of a decorative jar"
        width={160}
        height={160}
        class="w-full"
        loading="eager"
      />
    </div>

    <div
      class="jar-right relative z-0 h-28 w-28 origin-center rotate-[135deg] md:h-40 md:w-40"
    >
      <div
        class="absolute -bottom-44 -left-5 -z-10 h-[200px] w-[60px] rounded-tr-full"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 43.5 250"
          class="jar-drip h-[150px] w-[45px] origin-top scale-y-0 md:h-[200px]"
          version="1.1"
          aria-hidden="true"
        >
          <path
            d="M44 6s-11 108-8 236c0 0-0 1-1 1-2 1-5-3-6-3-3-1-1 6-4 7-2 1-3-1-6-1-2 0-3 5-6 5-3-0-2-8-5-11-2-2-4 5-6 3-0 0-0-1-0-1C-13 93 34 0 34 0"
            fill="#fb923c"></path>
        </svg>
      </div>
      <Image
        src="/sponsors/design/jarright.svg"
        alt="Right side of a decorative jar"
        width={160}
        height={160}
        class="w-full"
        loading="eager"
      />
    </div>
  </div>

  <div class="absolute left-1/2 top-1/2 z-10 -translate-x-1/2 -translate-y-1/2">
    {
      sponsorConfig.description.map((paragraph, index) => (
        <p
          data-key={`${index}`}
          class="container mx-auto max-w-xl text-center md:text-2xl"
        >
          {paragraph}
        </p>
      ))
    }
  </div>
</div>
