---
import { sponsorConfig } from "../../../config/sponsorConfig";
---

<div class="container relative z-10 mx-auto translate-y-32 text-center">
  <p class="mx-auto mb-4 max-w-xl text-balance font-light md:text-lg">
    {sponsorConfig.description[0]}
  </p>
  <p class="mx-auto max-w-md text-2xl font-semibold md:text-3xl">
    {sponsorConfig.description[1]}
  </p>
</div>
