---
// SyrupPool.astro
---

<div
  class="syrup-pool absolute left-1/2 top-[calc(100%+115px)] h-80 w-[90%] max-w-4xl origin-top -translate-x-1/2 scale-y-0 rounded-[3px] rounded-t-[50px] bg-orange-400 shadow-2xl md:top-[calc(100%+160px)] md:rounded-t-[80px]"
>
  <div class="syrup-wave absolute top-[98%] h-fit w-full">
    <div class="mx-auto w-full max-w-4xl">
      <svg
        id="morphingSvg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 871.18 111.83"
      >
        <path
          fill="#fb923c"
          d="M0 0s-3 0 56 0c57 0 49 0 74 0 15 0 32 0 56 0s37 0 58 0c19 0 18 0 54 0 31 0 32 0 45 0 8 0 18 0 31 0 16 0 16 0 30 0S418 0 433 0s15 0 36 0c20 0-4 0 33 0 40 0 20 0 40 0 10 0 20 0 45 0 29 0 37 0 55 0 13 0 28 0 48 0 28 0 36 0 52 0 28 0 18 0 66 0C844 0 871 0 871 0"
        ></path>
      </svg>
    </div>
  </div>
</div>
