---
// FaqAssets.astro
import { Image } from "astro:assets";

const assets = [
  {
    src: "/faq/flower-1.webp",
    alt: "Flower 1",
    class:
      "left-[5%] top-52 sm:left-[15%] md:top-64 lg:left-[20%] xl:left-1/2 xl:top-72 xl:w-16 animate-rotateSlow",
  },
  {
    src: "/faq/flower-2.webp",
    alt: "Flower 2",
    class:
      "right-[10%] top-[600px] md:right-1/4 xl:left-40 xl:top-64 xl:w-16 animate-float",
  },
  {
    src: "/faq/flower-2.webp",
    alt: "Flower 3",
    class:
      "left-1/4 top-[1100px] xl:left-3/4 xl:top-[500px] xl:w-16 animate-float",
  },
  {
    src: "/faq/flower-1.webp",
    alt: "Flower 4",
    class:
      "left-2/3 top-[1650px] xl:left-[60%] xl:top-[825px] xl:w-16 animate-rotateSlow",
  },
  {
    src: "/faq/butterfly.webp",
    alt: "Butterfly",
    class:
      "right-[5%] top-[1000px] sm:top-[1050px] lg:right-[15%] xl:left-1/3 xl:top-[600px] xl:w-16 xl:-translate-x-1/2 animate-float",
  },
  {
    src: "/faq/butterfly-2.webp",
    alt: "Butterfly 2",
    class:
      "bottom-[200px] left-[5%] -translate-x-1/2 sm:bottom-[100px] sm:left-[15%] xl:left-[40%] xl:top-[1000px] xl:w-16 animate-float",
  },
];
---

<div class="absolute inset-0">
  {
    assets.map((asset) => (
      <Image
        src={asset.src}
        alt={asset.alt}
        width={1}
        height={1}
        class={`faq-asset absolute w-12 object-cover ${asset.class}`}
      />
    ))
  }
</div>
