---
import { Image } from "astro:assets";
import FAQItem from "./FaqItem.astro";

interface Props {
  category: {
    type: string;
    faqs: Array<{ question: string; answer: string }>;
  };
}

const { category } = Astro.props;
---

<div
  class="faq-category relative mx-auto h-fit w-full max-w-3xl rounded-2xl bg-white/40 p-6"
>
  {
    category.type === "Code of Conduct" && (
      <Image
        src="/faq/flower-2.webp"
        alt="Flower 3"
        width={1}
        height={1}
        class="absolute -bottom-4 -right-4 w-10 animate-rotateSlow md:-bottom-6 md:-right-6 md:w-14"
      />
    )
  }
  <h3 class="heading-font mb-4 pb-2 text-center text-lg">
    {category.type}
  </h3>
  <ul class="space-y-6">
    {
      category.faqs.map((faq, index) => (
        <FAQItem faq={faq} category={category.type} index={index} />
      ))
    }
  </ul>
</div>
