---
import { Button } from "@/components/ui/button";
import { cn } from "@/lib/utils";

interface Props {
  title: string;
  tagline: string;
  className?: string;
}

const { title, tagline, className } = Astro.props;
---

<div
  class={cn(
    "flex flex-col items-center justify-center md:items-end space-y-4 ",
    className,
  )}
>
  <h1
    class="heading-animation hero-heading hero-heading-text text-center text-7xl font-black text-[#0A1F44] md:text-right md:text-8xl lg:text-8xl"
  >
    {title}
  </h1>
  <p
    class="gsapFade hero-tagline text-center text-lg font-black uppercase tracking-tighter text-[#485B7C] md:text-right"
  >
    {tagline}
  </p>
  <Button className="gsapFade w-auto bg-[#0A1F44] hover:bg-[#0A1F44]/95"
    >Hacker Application</Button
  >
</div>

<script>
  import { initGsapFade } from "@/lib/gsapAnimations";

  // Animate title characters
  initGsapFade({
    selector: ".hero-heading",
    duration: 1.5,
    direction: "up",
    distance: 50,
  });

  // Animate tagline
  initGsapFade({
    selector: ".hero-tagline",
    duration: 0.5,
    delay: 0.4,
    direction: "up",
    distance: 20,
  });

  // Animate button
  initGsapFade({
    selector: "button",
    duration: 0.5,
    delay: 0.6,
    direction: "up",
    distance: 20,
  });
</script>
