---
import Button from "@/components/common/Button.astro";
import Prose from "@/components/common/Prose.astro";
import NewsLetter from "@/components/NewsLetter.astro";
import { cn } from "@/lib/utils";

interface HeroSection {
  title: string;
  tagline: string;
  buttonText: string;
  buttonLink: string;
}

interface Props {
  heroSectionConfig: HeroSection;
  className?: string;
}

const { heroSectionConfig, className } = Astro.props;
const { title, tagline } = heroSectionConfig;
---

<div
  class={cn(
    "flex flex-col items-center justify-center md:items-end",
    className,
  )}
>
  <h1
    class="hero-heading heading-font animate-fade-up text-center text-7xl opacity-0 animation-delay-100 md:text-right md:text-8xl lg:text-8xl"
  >
    {title}
  </h1>
  <Prose
    className="mt-4 animate-fade-up text-center text-xl font-black uppercase tracking-tighter opacity-0 animation-delay-300 md:text-right"
  >
    {tagline}
  </Prose>
  <div class="mt-6 w-auto animate-fade-up opacity-0 animation-delay-500">
    <!-- JUST REPLACE THESE BUTTONS ;) -->
    <!-- <Button variant="hero" size="lg" link={buttonLink}>
      {buttonText}
    </Button> -->
    <Button variant="hero" size="lg" id="openPopup">
      Get Exclusive Updates
    </Button>
  </div>
</div>

<NewsLetter />
