---
import { cn } from "@/lib/utils";

interface Props {
  title: string;
  tagline: string;
  className?: string;
}

const { title, tagline, className } = Astro.props;
---

<div class={cn("", className)}>
  <h1
    id="hero-heading"
    class="heading-animation hero-heading-text mb-4 text-center text-8xl font-extrabold text-[#0A1F44] md:text-right"
  >
    {title}
  </h1>
  <p
    class="hero-tagline -opacity-0 block text-center text-lg font-black uppercase tracking-tighter text-[#485B7C] md:text-right"
  >
    {tagline}
  </p>
</div>

<script>
  import { gsap } from "gsap";

  function animateHeading() {
    const tl = gsap.timeline();

    tl.fromTo(".heading-animation", {}, {});

    tl.fromTo(".hero-tagline", {}, {}, "-=0.5");
  }
  animateHeading();
</script>
