---

---

<div
  class="absolute bottom-0 left-0 right-0 h-[15vh] w-full overflow-hidden sm:h-[30vh]"
>
  <svg
    class="absolute bottom-0 right-0 h-full max-h-full w-full max-w-full"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 550 220"
    preserveAspectRatio="none"
  >
    <path
      fill="#EDF2F8"
      d="M0 217c3-2 137-68 163-81 26-13 55-25 75-35 40-20 115-50 175-70C464 16 516 5 550 0v220H0z"
    ></path>
  </svg>

  <svg
    class="absolute bottom-0 left-0 h-full max-h-full w-full max-w-full"
    width="875"
    height="200"
    preserveAspectRatio="none"
    viewBox="0 0 875 200"
    xmlns="http://www.w3.org/2000/svg"
  >
    <!-- Curved line path -->
    <path
      id="sledgeMotionPath"
      d="M0 1C50 1 100 0 150 1s100 3 150 7 100 12 150 24 100 29 150 50 100 46 150 65 100 32 124 32"
      fill="none"
      stroke="white"
      stroke-width="2"></path>

    <!-- Rest of the shape -->
    <path
      d="M0 1C50 1 100 0 150 1s100 3 150 7 100 12 150 24 100 29 150 50 100 46 150 65 100 32 124 32v20H0Z"
      fill="white"></path>
  </svg>
</div>
