@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "HeadingFont";
    src: url("/fonts/temp_heading.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "ContentFont";
    src: url("/fonts/temp_content.woff2") format("woff2");
    font-weight: black;
    font-style: normal;
    font-display: swap;
  }

  .heading-font {
    font-family: "HeadingFont", sans-serif;
    color: #0a1f44;
  }

  body {
    @apply text-[#112546];
    font-family: "ContentFont", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: black;
    position: relative;
  }
}

#heroSection {
  background: linear-gradient(
    to bottom,
    #090e19 0%,
    #1a2539 8%,
    #2c3b5d 16%,
    #5f718f 32%,
    #98a5bf 44%,
    #c2cce1 58%,
    #e6eaf0 72%,
    #f4f6f9 86%,
    #ffffff 100%
  );
  /* background-image: url("/hero-bg.webp"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100svh;
  position: relative;
  overflow: hidden;
}

#container {
  pointer-events: none;
  z-index: 20;
}

#heroSection::after {
  content: "";
  @apply absolute inset-0 bg-gradient-to-b from-transparent via-transparent via-[90%] to-white;
}

#aboutSection {
  background: linear-gradient(180deg, #ffffff 0%, #aad6fa 50.5%, #aad6fa 100%);
}

#locationInfoSection {
  background: linear-gradient(180deg, #aad6fa 0%, #aad6fa 50.5%, #abd7fb 100%);
}

#sponsorSection {
  background: linear-gradient(180deg, #abd7fb 0%, #fce6a9 15%, #fce6a9 100%);
}

#faqsSection {
  background: linear-gradient(180deg, #fde6aa 0%, #e5f1d6 50%, #e2efd7 100%);
}

#teamsSection {
  background: linear-gradient(180deg, #fff5c8 0%, #e2eed6 27.5%, #e2eed6 100%);
}
