---
import { footerCol1Links, footerCol2Links } from "@/config/links";
import logo from "../../images/logo-v1.webp";
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import { socialLinks } from "@/config/links";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<!-- TODO: Update fonts -->
<footer
  class={cn("bg-slate-900 w-full border-t p-6 md:p-10 xl:p-12", className)}
>
  <div class="mx-auto w-full max-w-7xl">
    <div class="flex justify-between">
      <div class="space-y-4">
        <div class="flex items-center gap-4">
          <Image
            src={logo}
            alt="logo"
            width={144}
            height={144}
            class="size-28 object-contain max-sm:size-10"
          />
          <p class="text-2xl font-bold">Hack<br />Canada</p>
        </div>

        <div>
          <p class="max-md:text-600 mb-2 font-semibold text-slate-600">
            Hosted by
          </p>
          <div class="flex items-center gap-4">
            <Image
              src="/hackathons-canada-logo.webp"
              alt="logo"
              width={144}
              height={144}
              class="size-16 object-contain max-sm:size-10"
            />
            <p class="text-lg font-bold">Hackathons<br />Canada</p>
          </div>
        </div>
      </div>

      <div class="flex items-end justify-end gap-8 md:gap-12 xl:gap-16">
        <ul class="space-y-2.5">
          {footerCol1Links.map((item) => <li class="">{item.label}</li>)}
        </ul>

        <ul class="space-y-2.5">
          {footerCol2Links.map((item) => <li class="">{item.label}</li>)}
        </ul>
      </div>
    </div>
  </div>

  <hr class="mx-auto my-8 max-w-7xl border-t-2 border-t-slate-700" />

  <div
    class="mx-auto flex max-w-7xl items-center justify-between max-lg:flex-col-reverse"
  >
    <p class="text-slate-600">© 2025 Hack Canada. All rights reserved.</p>
    <ul class="flex items-center gap-4 md:gap-6 lg:gap-8">
      {
        socialLinks.map((item) => (
          <li class="">
            <a href={item.href} target="_blank" rel="noopener noreferrer">
              <Image
                src={item.iconV2 || item.icon}
                alt={item.label || item.href}
                width={32}
                height={32}
                class="size-6 xl:size-7"
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
