---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<footer
  class={cn(
    "grid bg-slate-900 w-full place-items-center border-t p-4 md:p-8 xl:p-16",
    className,
  )}
>
  <p class="text-center max-md:text-sm">
    This footer will always stay at the bottom of the page, underneath all the
    content. However, unlike the navbar, the footer is not fixed.
  </p>
</footer>
