---
import IconButton from "@/components/common/IconButton.astro";
import { socialLinks } from "@/config/links";
---

<ul class="flex shrink-0 items-center gap-8 max-lg:hidden">
  {
    socialLinks.map((item) => (
      <li>
        <IconButton
          item={item}
          size={32}
          class:list="size-6 hover:scale-110 xl:size-7"
          iconClasses="text-[#07152e] size-5 xl:size-6 hover:scale-110"
        />
      </li>
    ))
  }
</ul>
