---
import Image from "astro/components/Image.astro";
---

<a href="/" class="logo-animation">
  <Image
    src="/logo-v1.webp"
    alt="logo"
    width={48}
    height={48}
    class="select-none object-contain max-sm:size-10 sm:size-12"
    loading="lazy"
    decoding="async"
    format="webp"
  />
</a>
