---
import SectionWrapper from "@/components/layout/SectionWrapper.astro";
import { cn } from "@/lib/utils";
import faqs from "@/config/faqs";
import { Image } from "astro:assets";
import FaqCategory from "../FAQ/FaqCategory.astro";

interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<SectionWrapper
  id={id}
  className={cn(
    "relative z-10 overflow-hidden pb-32 pt-20 md:pb-[800px] md:pt-32",
    className,
  )}
>
  <!-- Assets -->
  <div
    class="pointer-events-none absolute inset-x-0 bottom-0 h-fit select-none"
  >
    <!-- Grass background -->
    <Image
      src="/grass.webp"
      alt={"Grass"}
      width={1}
      height={1}
      class="absolute inset-x-0 bottom-0 h-80 w-full object-cover lg:h-[600px]"
    />

    <!-- Grass and dandelions -->
    <Image
      src="/grass-top.png"
      alt="Grass top"
      width={1}
      height={1}
      class="absolute bottom-[450px] left-1/2 w-[60%] -translate-x-1/2 object-contain"
    />
    <Image
      src="/dandelion-1.png"
      alt="Dandelion 1"
      width={1}
      height={1}
      class="absolute bottom-[500px] left-[70%] -translate-x-1/2 object-contain lg:w-24 xl:w-32 2xl:w-40"
    />
    <Image
      src="/dandelion-2.png"
      alt="Dandelion 2"
      width={1}
      height={1}
      class="absolute bottom-[500px] left-[80%] w-28 -translate-x-1/2 object-contain 2xl:w-36"
    />
    <Image
      src="/dandelion-3.png"
      alt="Dandelion 3"
      width={1}
      height={1}
      class="absolute bottom-[550px] left-[55%] -translate-x-1/2 object-contain lg:w-20 xl:w-24 2xl:w-32"
    />
    <Image
      src="/dandelion-4.png"
      alt="Dandelion 4"
      width={1}
      height={1}
      class="absolute bottom-[475px] left-[97%] w-32 -translate-x-1/2 object-contain 2xl:left-[calc(100%-48px)]"
    />
    <Image
      src="/dandelion-6.png"
      alt="Dandelion 6"
      width={1}
      height={1}
      class="absolute bottom-[500px] left-[5%] -translate-x-1/2 object-contain lg:w-20 xl:w-28"
    />

    <Image
      src="/dandelion-3.png"
      alt="Dandelion 3"
      width={1}
      height={1}
      class="absolute bottom-[550px] left-[90%] -translate-x-1/2 object-contain lg:w-20 xl:w-24"
    />
    <Image
      src="/dandelion-5.png"
      alt="Dandelion 6"
      width={1}
      height={1}
      class="absolute bottom-[450px] left-[46%] w-24 -translate-x-1/2 rotate-12 object-contain max-2xl:hidden"
    />
    <Image
      src="/dandelion-root.png"
      alt="Dandelion root"
      width={1}
      height={1}
      class="absolute bottom-[475px] left-[12%] -translate-x-1/2 rotate-[21deg] object-contain lg:w-16 xl:bottom-[425px] xl:left-[15%] xl:w-24"
    />
    <Image
      src="/dandelion-root.png"
      alt="Dandelion root"
      width={1}
      height={1}
      class="absolute bottom-[450px] left-[65%] w-24 -translate-x-1/2 rotate-[20deg] object-contain max-2xl:hidden"
    />
    <Image
      src="/dandelion-root.png"
      alt="Dandelion root"
      width={1}
      height={1}
      class="absolute bottom-[500px] left-[47%] w-24 -translate-x-1/2 object-contain xl:bottom-[475px] 2xl:left-[40%]"
    />

    <!-- Dandelion tips -->
    <Image
      src="/dandelion-tip.png"
      alt="Dandelion tip"
      width={1}
      height={1}
      class="absolute bottom-[675px] left-[67%] w-10 -translate-x-1/2 object-contain"
    />
    <Image
      src="/dandelion-tip.png"
      alt="Dandelion tip"
      width={1}
      height={1}
      class="absolute bottom-[675px] left-[12%] w-8 -translate-x-1/2 object-contain"
    />
    <Image
      src="/dandelion-tip.png"
      alt="Dandelion tip"
      width={1}
      height={1}
      class="absolute bottom-[575px] left-[50%] w-10 -translate-x-1/2 object-contain"
    />
    <Image
      src="/dandelion-tip.png"
      alt="Dandelion tip"
      width={1}
      height={1}
      class="absolute left-[75%] -translate-x-1/2 object-contain xl:bottom-[575px] xl:w-8 2xl:bottom-[600px] 2xl:w-10"
    />
    <Image
      src="/dandelion-tip.png"
      alt="Dandelion tip"
      width={1}
      height={1}
      class="absolute bottom-[575px] left-[86%] -translate-x-1/2 object-contain lg:w-8 xl:w-12"
    />
    <Image
      src="/dandelion-tip.png"
      alt="Dandelion tip"
      width={1}
      height={1}
      class="absolute bottom-[450px] left-[80%] w-8 -translate-x-1/2 object-contain"
    />
    <Image
      src="/dandelion-tip.png"
      alt="Dandelion tip"
      width={1}
      height={1}
      class="absolute bottom-[625px] left-[35%] w-10 -translate-x-1/2 object-contain"
    />

    <!-- Beaver -->
    <Image
      src="/beaver-sitting.png"
      alt="Beaver sitting"
      width={1}
      height={1}
      class="absolute bottom-0 lg:bottom-[500px] lg:left-[15%] lg:w-[450px] xl:w-[500px]"
    />
  </div>

  <h2
    class="mb-16 text-center font-baloo text-4xl font-black text-[#870A0A] md:mb-20 md:text-5xl xl:mb-28 xl:text-6xl"
  >
    Frequently Asked Questions
  </h2>

  <div
    class="faq-categories mx-auto grid max-w-screen-2xl grid-cols-1 items-start justify-start gap-12 px-4 xl:grid-cols-2"
  >
    <div class="flex flex-col gap-12">
      {faqs.slice(0, 2).map((category) => <FaqCategory category={category} />)}
    </div>
    <div class="flex flex-col gap-12">
      {faqs.slice(2, 4).map((category) => <FaqCategory category={category} />)}
    </div>
  </div>
</SectionWrapper>
