---
import SectionWrapper from "@/components/layout/SectionWrapper.astro";
import { cn } from "@/lib/utils";
import faqs from "@/config/faqs";
import FaqCategory from "../FAQ/FaqCategory.astro";
import { Image } from "astro:assets";

interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<SectionWrapper
  id={id}
  className={cn("relative z-10 overflow-hidden py-20 md:py-32", className)}
>
  <!-- <FaqAssets /> -->
  <div class="absolute inset-0">
    <Image
      src="/flower-1.png"
      alt="Flower 1"
      width={1}
      height={1}
      class="flower flower-1 absolute left-1/2 top-48 w-16 object-cover"
    />
    <Image
      src="/flower-2.png"
      alt="Flower 2"
      width={1}
      height={1}
      class="flower flower-2 absolute left-40 top-64 w-16 object-cover"
    />
    <Image
      src="/flower-3.png"
      alt="Flower 3"
      width={1}
      height={1}
      class="flower flower-3 absolute left-3/4 top-96 w-16 object-cover"
    />
    <Image
      src="/flower-1.png"
      alt="Flower 1"
      width={1}
      height={1}
      class="flower flower-1 absolute right-40 top-[757px] w-16 object-cover"
    />
    <Image
      src="/flower-4.png"
      alt="Flower 4"
      width={1}
      height={1}
      class="flower flower-4 absolute left-[35%] top-[950px] w-16 object-cover"
    />
    <Image
      src="/butterfly.png"
      alt="Butterfly"
      width={1}
      height={1}
      class="butterfly absolute left-1/3 top-[600px] w-16 -translate-x-1/2 object-cover"
    />
  </div>

  <h2
    class="faq-heading heading-font mb-16 translate-y-10 text-center text-4xl font-black opacity-0 md:mb-20 md:text-5xl xl:mb-28 xl:text-6xl"
  >
    Frequently Asked Questions
  </h2>

  <div
    class="faq-categories mx-auto grid max-w-screen-2xl grid-cols-1 flex-col items-start justify-start gap-12 px-4 xl:grid-cols-2"
  >
    <div class="flex flex-col gap-12">
      {faqs.slice(0, 2).map((category) => <FaqCategory category={category} />)}
    </div>
    <div class="flex flex-col gap-12">
      {faqs.slice(2, 4).map((category) => <FaqCategory category={category} />)}
    </div>
  </div>
</SectionWrapper>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  // FAQ Heading Animation
  gsap.fromTo(
    ".faq-heading",
    { opacity: 0, translateY: 25 },
    {
      opacity: 1,
      translateY: 0,
      duration: 1,
      ease: "power2.out",
      scrollTrigger: {
        trigger: ".faq-heading",
        start: "top 80%",
      },
    },
  );

  // Flower 1 - Subtle Rotation
  gsap.fromTo(
    ".flower-1",
    { rotate: 0, transformOrigin: "center center" },
    {
      rotate: 180,
      duration: 3,
      repeat: -1,
      yoyo: true,
      ease: "power1.inOut",
      scrollTrigger: {
        trigger: ".flower-1",
        start: "top 80%",
      },
    },
  );

  // Flower 2 - Gentle Scaling and Bobbing
  gsap.fromTo(
    ".flower-2",
    { scale: 1, y: 0, rotate: 0 },
    {
      scale: 1.1,
      rotate: 30,
      y: -10,
      duration: 4,
      yoyo: true,
      repeat: -1,
      ease: "power1.inOut",
      scrollTrigger: {
        trigger: ".flower-2",
        start: "top 80%",
      },
    },
  );

  // Flower 3 - Horizontal Movement with Rotation
  gsap.fromTo(
    ".flower-3",
    { x: -10, rotate: 0 },
    {
      x: 10,
      rotate: -10,
      duration: 6,
      yoyo: true,
      repeat: -1,
      ease: "power1.inOut",
      scrollTrigger: {
        trigger: ".flower-3",
        start: "top 80%",
      },
    },
  );

  // Flower 4 - Vertical Bobbing
  gsap
    .timeline({
      scrollTrigger: {
        trigger: ".flower-4",
        start: "top 80%",
      },
      repeat: -1,
      yoyo: true, // Reverses the entire timeline on repeat
    })
    .to(".flower-4", {
      y: 15, // Moves vertically up and down
      rotation: 10, // Adds a slight rotation
      duration: 5,
      ease: "power1.inOut",
    })
    .to(
      ".flower-4",
      {
        scale: 1.2, // Scales up slightly
        opacity: 1, // Fades slightly
        duration: 2,
        ease: "power1.inOut",
      },
      "-=2",
    ) // Starts 2 seconds before the previous animation ends
    .to(
      ".flower-4",
      {
        x: 10, // Adds a horizontal sway
        duration: 3,
        ease: "power1.inOut",
      },
      "-=2",
    ); // Starts 2 seconds before the previous animation ends

  // Butterfly - Smooth Fluttering with slight rotation
  gsap.fromTo(
    ".butterfly",
    { x: -10, y: 0, rotate: -5 },
    {
      x: 10,
      y: -10,
      rotate: 5,
      duration: 3,
      yoyo: true,
      repeat: -1,
      ease: "power1.inOut",
      scrollTrigger: {
        trigger: ".butterfly",
        start: "top 80%",
      },
    },
  );
</script>
