---
import { cn } from "@/lib/utils";
import { heroSection } from "@/config/site";
import HeadingGSAP from "@/components/animations/HeadingGSAP.astro";

interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<section
  class={cn(
    "flex flex-col w-full overflow-x-clip py-20 text-center",
    className,
  )}
  aria-labelledby="hero-heading"
  id={id}
>
  <HeadingGSAP title={heroSection.title} tagline={heroSection.tagline} />
</section>
