---
import { cn } from "@/lib/utils";
import { heroSection } from "@/config/site";
import HeadingGSAP from "@/components/animations/hero/HeadingGSAP.astro";
import Snowfall from "@/components/animations/hero/Snowfall.astro";
import Hills from "@/components/animations/hero/Hills.astro";

interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<section
  class={cn(
    "flex flex-col justify-center w-full overflow-hidden relative min-h-screen",
    className,
  )}
  aria-labelledby="Hero Section"
  id={id}
>
  <!-- <Aurora /> -->

  <HeadingGSAP
    title={heroSection.title}
    tagline={heroSection.tagline}
    className="container relative z-10 md:pr-40"
  />

  <Snowfall
    snowflakeCount={200}
    speed={1.3}
    wind={1}
    color="#ffffff"
    size={3}
  />
  <Hills />
</section>
