---
import { cn } from "@/lib/utils";
import { heroSection } from "@/config/site";
import HeadingGSAP from "@/components/animations/hero/HeadingGSAP.astro";
import Snowfall from "@/components/animations/hero/Snowfall.astro";
import Sledge from "@/components/animations/hero/Sledge.astro";
import Aurora from "@/components/animations/hero/Aurora.astro";

interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<section
  class={cn(
    "flex flex-col justify-center w-full overflow-hidden relative min-h-screen",
    className,
  )}
  aria-labelledby="hero-heading"
  id={id}
>
  <Sledge />
  <Aurora />

  <HeadingGSAP
    title={heroSection.title}
    tagline={heroSection.tagline}
    className="relative z-10 md:pr-40"
  />

  <Snowfall
    snowflakeCount={200}
    speed={1}
    wind={0.5}
    color="#ffffff"
    size={3}
  />
</section>
