---
import IglooBg from "@/components/animations/location/IglooBg.astro";
import LocationCard from "@/components/animations/location/LocationCard.astro";
import LocationHeading from "@/components/animations/location/LocationHeading.astro";
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<section id={id} class={cn("relative", className)}>
  <LocationHeading />
  <LocationCard />
  <IglooBg />
</section>
