---
import WavyLineAnimation from "@/components/animations/sponsors/WavyLineAnimation.astro";
import SectionWrapper from "@/components/layout/SectionWrapper.astro";
import SectionHeading from "@/components/utility/SectionHeading.astro";
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<SectionWrapper id={id} className={cn("relative py-20", className)}>
  <div class="container">
    <SectionHeading className="">Sponsor Us</SectionHeading>
    <div>
      Join us in this amazing ride to host the best hackathon across Canada.
      <br />
      Your support will be sweeter than the finest maple syrup
    </div>
  </div>

  <div class="relative flex w-full justify-center">
    <div
      class="jar-container relative flex h-fit w-full max-w-4xl justify-between bg-black"
    >
      <div class="relative z-0 h-32 w-32 md:h-40 md:w-40">
        <div
          class="absolute -bottom-48 right-0 -z-10 h-[208px] w-[20px] rounded-tr-full bg-orange-400"
        >
          <div
            class="absolute -bottom-[5px] right-0 h-[10px] w-[5px] rounded bg-orange-400"
          >
          </div>
          <div
            class="absolute -bottom-[4px] right-[5px] h-[10px] w-[5px] rounded bg-orange-400"
          >
          </div>
          <div
            class="absolute -bottom-[7px] right-[10px] h-[10px] w-[5px] rounded bg-orange-400"
          >
          </div>
          <div
            class="absolute -bottom-[5px] right-[15px] h-[10px] w-[5px] rounded bg-orange-400"
          >
          </div>
        </div>
        <img
          src="/sponsors/design/jarleft.svg"
          alt="jar"
          width="100"
          height="100"
          style="width: 100%;"
        />
      </div>
      <div class="relative z-0 h-32 w-32 md:h-40 md:w-40">
        <div
          class="absolute -bottom-48 left-0 -z-10 h-[208px] w-[20px] rounded-tl-full bg-orange-400"
        >
          <div
            class="absolute -bottom-[5px] right-0 h-[10px] w-[5px] rounded bg-orange-400"
          >
          </div>
          <div
            class="absolute -bottom-[4px] right-[5px] h-[10px] w-[5px] rounded bg-orange-400"
          >
          </div>
          <div
            class="absolute -bottom-[7px] right-[10px] h-[10px] w-[5px] rounded bg-orange-400"
          >
          </div>
          <div
            class="absolute -bottom-[5px] right-[15px] h-[10px] w-[5px] rounded bg-orange-400"
          >
          </div>
        </div>
        <img
          src="/sponsors/design/jarright.svg"
          alt="jar"
          width="100"
          height="100"
          style="width: 100%;"
        />
      </div>
    </div>
    <div
      class="absolute left-1/2 top-[calc(6rem+208px)] h-80 w-full max-w-4xl -translate-x-1/2 rounded-t-3xl bg-orange-400 md:top-[calc(8rem+208px)]"
    >
      <div class="absolute -bottom-[110px] h-fit w-full">
        <WavyLineAnimation />
      </div>
    </div>
  </div>
  <div class="right-0 h-[600px] w-full bg-white"></div>
</SectionWrapper>
