---
import { locationSection } from "@/config/site";
---

<div class="py-6 text-center text-2xl text-[#485B7C]">
  {locationSection.tag}
</div>

<div class="text-center">
  {locationSection.collegeName}
</div>
