---
import SectionHeading from "@/components/utilities/SectionHeading.astro";
import { locationSection } from "@/config/site";
---

<div
  class="locationTag-fade py-6 text-center text-2xl text-[#485B7C] opacity-0"
>
  {locationSection.tag}
</div>

<SectionHeading className="location-popup text-center opacity-0">
  {locationSection.collegeName}
</SectionHeading>

<script>
  import { initGsapFade, initGsapPopup } from "@/lib/gsapAnimations";

  initGsapPopup(".location-popup", {
    duration: 0.8,
    delay: 0.2,
    y: 50,
  });

  initGsapFade(`.locationTag-fade`, {
    duration: 0.8,
    delay: 0.5,
    direction: "up",
    distance: 30,
  });
</script>
