---
type Props = {};

const {} = Astro.props;
---

<footer class="border-t w-full grid place-items-center p-4 md:p-8 xl:p-16">
  <p class="text-center max-md:text-sm">
    This footer will always stay at the bottom of the page, underneath all the
    content. However, unlike the navbar, the footer is not fixed.
  </p>
</footer>
