---
import { cn } from "@/lib/utils";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<header class={cn("fixed flex items-center h-16 w-full border-b", className)}>
  <nav
    class="flex items-center max-2xl:px-4 max-w-screen-xl w-full mx-auto justify-between"
  >
    <p class="font-semibold text-xl md:text-2xl">HackUSA</p>

    <!-- Nav Links - Desktop -->
    <ul class="max-lg:hidden flex items-center gap-16">
      <li>Link</li>
      <li>Link</li>
      <li>Link</li>
      <li>Link</li>
    </ul>
  </nav>
</header>
