---
import { footerCol1Links, footerCol2Links } from "@/config/links";
---

<div
  class="flex w-full items-center gap-8 max-sm:flex-col max-sm:text-center max-sm:text-sm sm:items-end sm:justify-end md:gap-12 xl:gap-16"
>
  <ul class="space-y-2.5 lg:space-y-4">
    {
      footerCol1Links.map((item) => (
        // <a class="hover:text-slate-300" href={item.href}>
        <li class="cursor-not-allowed text-slate-500">{item.label}</li>
        //        </a>
      ))
    }
  </ul>

  <ul class="space-y-2.5 lg:space-y-4">
    {
      footerCol2Links.map((item) => (
        <a
          class="hover:text-slate-300"
          target={item.blank ? "_blank" : "inherit"}
          href={item.href}
        >
          <li>{item.label}</li>
        </a>
      ))
    }
  </ul>
</div>
