---
import { cn } from "@/lib/utils";

const isDev = import.meta.env.DEV;
---

<!-- For development purposes -->
<div
  class={cn(
    "fixed bottom-0 left-0 z-[9999] text-lg font-bold",
    !isDev ? "hidden" : "",
  )}
>
  <span class="sm:hidden">mobile</span>
  <span class="max-sm:hidden md:hidden"> smol tablet </span>
  <span class="max-md:hidden lg:hidden"> tablet </span>
  <span class="max-lg:hidden xl:hidden"> smol desktop </span>
  <span class="max-xl:hidden 2xl:hidden"> desktop </span>
  <span class="max-2xl:hidden"> large deskop </span>
</div>
