---
import BaseLayout from "./BaseLayout.astro";

import Navbar from "@/components/layout/Navbar.astro";
import Footer from "@/components/layout/footer/Footer.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="flex min-h-svh flex-col bg-slate-100">
    <Navbar className="z-20" />
    <main class="">
      <slot />
    </main>
    <Footer />
  </div>
</BaseLayout>
