---
import { cn } from "@/lib/utils";
const { className } = Astro.props;
---

<div
  class={cn(
    "prose prose-a:text-blue-700 prose-a:no-underline hover:prose-a:underline",
    className,
  )}
>
  <slot />
</div>
